<div class="contents">
  <h1 class="main-headding">Confirmation</h1>
          <h4 class="main-headding" >indirizo della persona auguri</h1>
            <div class="cart-items confirmation-table">
              <table class="table-contents">
                <tbody >  
                  <tr>
                    <td>Nome</td>
                    <td><%= detail.name %> </td>
                  </tr>
                  <tr>
                    <td>via</td>
                    <td><%= detail.via %> </td>  
                  </tr>
                  <tr>
                    <td>citta</td>
                    <td><%= detail.citta %> </td>  
                  </tr>
                  <tr>
                    <td>cap</td>
                    <td><%= detail.cap %> </td>  
                  </tr>
                </tbody>
              </table>
                  <h4>Nome della persona a cui regalare</h1>
              <table class="table-contents">
                <tbody>
                  <tr>
                    <td>nome</td>
                    <td><%= detail.name_person %> </td>  
                  </tr>
                  <tr>
                    <td>sesso</td>
                    <td><%= detail.chekckbox %> </td>  
                  </tr>
                </tbody>
                </table>
                <button class="btn btn-grey btn-back close" >indietro</button>
                <a class="btn btn-grey btn-confirm" href="/cart/confirm/ok">Proccedi</a>
              </div>                
      </div>